*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    height: 100%;
    width: 100%;
    
 }
 .smallCursor{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%,-50%);
 }

 .shadowCursor{
    width: 70px;
    height: 70px;
    filter: blur(35px);
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%,-50%);
    transition: all linear 0.5s;
 }